<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>Student Registration</title>
    </head>
    <body>
        <h1>Student Registration Form</h1>
        <form action = "/add_student" method = "post">

            <label for = "FirstName">First Name</label> 
            <input type = "text" id = "FirstName" name = "FirstName" required>

            <label for = "LastName">Last Name</label>
            <input type = "text" id = "LastName" name = "LastName" required>

            <button type = "submit">Add Student</button>
        </form>
        <a href="/students">View Students</a>
    </body>
</html>